header
      div(class="nav-content") 
        div(class="nav-element")
          span(class="nav-item")
            a(href="/") Home
        div(class="nav-element")
          span(class="nav-item") 
            a(href="/Courses") Courses
        div(class="nav-element")
          span(class="nav-item") 
            a(href="/contact") Contact
    hr